doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body( ng-app="ngrv")
    block content
    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(type='text/javascript' src='/javascripts/lib/ngRemoteValidate.js')
    script(type='text/javascript' src='/javascripts/app.js')